# Collections (the complex data types)

- sets
- tuples
- lists
- dictionaries
- combine collections

In [53]:
# set
# has no duplicates in the collection, no indexed (no order), is iterable, is a collection, mutable (can change)

set1 = {"Ben", "Jason", "Darlene", "Jason", "Erin"}
set_declared = set(("Ben", "Jason", "G", "G", "Darlene"))

print(f"set1 = {set1}")
print(f"set_declared = {set_declared}")

set1 = {'Jason', 'Ben', 'Erin', 'Darlene'}
set_declared = {'Jason', 'Ben', 'G', 'Darlene'}

In [54]:
# method to find overlaps
overlaps = set1.intersection(set_declared)
overlaps

{'Ben', 'Darlene', 'Jason'}

In [55]:
# method to find the difference between two sets
diff = set1.difference(set_declared)
diff

{'Erin'}

In [56]:
# tuple
# non-mutable, duplicates, iterable, indexed
tuple1 = (1,2,3,4)
tuple_declared = tuple((3,4,5,6))

print(f"tuple1 = {tuple1}")
print(f"tuple_declared = {tuple_declared}")

tuple1 = (1, 2, 3, 4)
tuple_declared = (3, 4, 5, 6)

In [57]:
# overwriting not changing
tuple1 = (1,2,3,4,5)
tuple1

(1, 2, 3, 4, 5)

In [58]:
# counting ocurrences of a value
tuple1.count(2)

1

In [59]:
# return the index of the value
tuple1.index(1)

0

In [60]:
# return value at index 0
tuple1[0]

1

In [61]:
# list
# mutable, duplicates, indexed, iterable
list1 = ["G", "G", "Paola", "Emil"]
list_declared = list(("G", "G", "Paola", "Emil"))

print(f"list = {list1}")
print(f"list_declared = {list_declared}")

list = ['G', 'G', 'Paola', 'Emil']
list_declared = ['G', 'G', 'Paola', 'Emil']

In [62]:
# index notation [:]

print(f"list1 = {list1}")
print(f"first index = {list1[0]}")
print(f"last item in list1 = {list1[-1]}")
print(f"series between 2 & 3 items = {list1[1:2]}") # second item is exclusive
print(f"everything before index 3 = {list1[:3]}")
print(f"everything after the first = {list1[1:]}")

list1 = ['G', 'G', 'Paola', 'Emil']
first index = G
last item in list1 = Emil
series between 2 & 3 items = ['G']
everything before index 3 = ['G', 'G', 'Paola']
everything after the first = ['G', 'Paola', 'Emil']

In [ ]:
# list methods
list1.append("Clare") # add
list2 = list1.append("Nathan") # append does not return a list
print(f"appended Clare = {list1}")
print(f"created list2 = {list2}")

removed = list1.pop() # remove
print(f"Removed {removed}. New list1 is {list1}")

list1[1] = "J" # change index
print(f"Index 1 of list changed. New list1 = {list1}")

combined_list1 = [list1, list_declared] # combine lists as lists
print(f"combined list = {combined_list1}")

combined_lists = [*list1, *list_declared] #combine lists into one list
print(f"combining lists into 1: {combined_lists}")
list1.extend(list_declared) #combine lists into one list
print(f"list1 after extension = {list1}")

appended Clare = ['G', 'G', 'Paola', 'Emil', 'Clare', 'Nathan']
created list2 = None
Removed Nathan. New list1 is ['G', 'G', 'Paola', 'Emil', 'Clare']
Index 1 of list changed. New list1 = ['G', 'J', 'Paola', 'Emil', 'Clare']
combined list = [['G', 'J', 'Paola', 'Emil', 'Clare'], ['G', 'G', 'Paola', 'Emil']]
combining lists into 1: ['G', 'J', 'Paola', 'Emil', 'Clare', 'G', 'G', 'Paola', 'Emil']
list1 after extension = ['G', 'J', 'Paola', 'Emil', 'Clare', 'G', 'G', 'Paola', 'Emil']

In [64]:
# dictionary
# key:value, indexed by key, not ordered, duplicate values but not keys, mutable
# {key: value, key1: value1}
dict1 = {"name": "Nathan", "age": "39"}
dict_declared = dict(name = "Nathan", age = 39) # we never do this!!!!!!
print(dict_declared)
dict1

{'name': 'Nathan', 'age': 39}

{'name': 'Nathan', 'age': '39'}

In [65]:
# update
dict1["name"] # get values

'Nathan'

In [66]:
dict1["name"] = "Nate" # change value
dict1

{'name': 'Nate', 'age': '39'}

In [67]:
dict1.keys()

dict_keys(['name', 'age'])

In [68]:
dict1.values()

dict_values(['Nate', '39'])

In [72]:
students = [
    {"name": "G", "age": 18},
    {"name": "Stacy", "age": 18},
    {"name": "John", "age": 21}
]
students

[{'name': 'G', 'age': 18},
 {'name': 'Stacy', 'age': 18},
 {'name': 'John', 'age': 21}]

In [73]:
students[1] # get second student

{'name': 'Stacy', 'age': 18}

In [74]:
students[2]["name"]# get name of 3rd student

'John'

In [ ]:
students.pop()

{'name': 'John', 'age': 21}